/* adapted for Wikipedia */

.syu1ming4 {
  font-style: normal;
  display: inline-flex;
}
.syu1ming4 .hoi1,
.syu1ming4 .saan1 {
	width: 0;
	height: 0;
	color: transparent;
}
.syu1ming4 + .syu1ming4 {
	margin-left: 0.1em;
}
.syu1ming4 .zi6:after {
  position: absolute;
  padding-top: 1em;
  align-self: baseline;
  content: "﹋";
  margin-left: -1em;
}

